

body{
	background-image: url("背景.png");
}

main{
	background: rgba(190, 255, 255, 0.65);
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 100px;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	border: ridge 5px;
	border-radius: 50px;
	text-align: center;
	line-height: 1.4;
	overflow:hidden;
	display: none;
}

img{
	margin:20px;
	max-width: 90%;
	height: auto;
}

.drop{
	overflow:hidden;
	border: outset 2px;
	height: 70px;
	border-color: #AAA;
	background-color: rgba(255, 255, 255, 0.75);
}

.droptitle{
	padding: 10px;
	line-height: 50px;
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0);
	transition-duration: 0.5s;
	transition-timing-function: ease;
	border-bottom: outset 2px #AAA;
}

.droptitle:hover{
	background-color: rgba(255, 185, 100, 0.75);
}

.dropcontents{
	overflow:auto;
	padding: 10px;
	padding-top: 0px;
	height: auto;
}