

body{
	background-image: url("背景.png");
	text-align: center;
}

main{
	background: rgba(190, 255, 255, 0.65);
	margin-top: 50px;
	margin-bottom: 100px;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	border: ridge 5px;
	border-radius: 50px;
	text-align: left;
	line-height: 1.4;
	overflow:hidden;
	width: 85%;
	display: none;
}

img{
	margin:20px;
	max-width: 90%;
	height: auto;
}

.drop{
	overflow:hidden;
	border: outset 2px;
	height: 70px;
	border-color: #AAA;
	background-color: rgba(255, 255, 255, 0.75);
}

.droptitle{
	padding: 10px;
	line-height: 50px;
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0);
	transition-duration: 0.5s;
	transition-timing-function: ease;
	border-bottom: outset 2px #AAA;
}

.droptitle:hover{
	background-color: rgba(255, 185, 100, 0.75);
}

.dropcontents{
	overflow:auto;
	padding: 10px;
	padding-top: 0px;
	height: auto;
}

pre.mheader{
	box-sizing: border-box;
    font-size: 14px;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, Meiryo, 'ＭＳ ゴシック', monospace;
    line-height: 1.5;
    border: 1px solid #C8C8C8;
    background-color: #eee8aa;
    margin: 10px 0 0 0;
    padding: 5px 10px;
    width: 100%;
    overflow: auto;
}

pre.mexplain {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, Meiryo, 'ＭＳ ゴシック', monospace;
    line-height: 1.5;
    border-bottom: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
    border-left: 1px solid #C8C8C8;
    background-color: #f5f5dc;
    margin: 0 0 10px 0;
    padding: 5px 10px;
    width: 100%;
    overflow: auto;
}

pre.fixcode {
	text-align: left;
    font-size: 14px;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, Meiryo, 'ＭＳ ゴシック', monospace;
    line-height: 1.5;
    background-color: #f8f8ff;
    border: 1px solid #dcdcdc;
    padding: 10px 10px 10px 10px;
    margin: 10px 0;
    overflow: auto;
}

pre.fixcomment {
    font-size: 14px;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, Meiryo, 'ＭＳ ゴシック', monospace;
    line-height: 1.5;
    background-color: #fffff0;
    border: 1px solid #dcdcdc;
    padding: 10px 20px 10px 15px;
    margin: 10px 0;
    overflow: auto;
}

table{
width: 100%;
border-collapse: collapse;
}
th{
padding: 6px;
text-align: left;
vertical-align: top;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
}

td{
padding: 6px;
background-color: #fff;
border: 1px solid #b9b9b9;
}